<template>
  <div class="add-patient">
    <div class="row">
      <div class="col-md-12">
        <vuestic-widget :headerText="'patient.add' | translate">
          <form>

            <div class="row">
              <div class="col-md-4">
                <!-- Primeira coluna -->
                <fieldset>
                  <!-- Nome Paciente -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="simple-input" required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.name'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!-- ************* -->
                  <!-- Estado Civil -->
                    <vuestic-simple-select
                    :label="'patient.martialStatus' | translate"
                    v-model="martialStatusPatient"
                    option-key="description"
                    v-bind:options="martialOptions">
                  </vuestic-simple-select>
                  <!-- ************ -->
                  <!-- RG Paciente -->
                  <div class="form-group">
                    <div class="input-group">
                      <input
                      type= "tel"
                      id="simple-input"
                      v-mask="'##.###.###-#'"
                      required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.rgPatient'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- Rua Paciente -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_street" v-model="patient.street"  required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.street'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!-- *********  -->
                  <!-- Bairro Paciente -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_street" v-model="patient.neighborhood"  required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.neighborhood'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- Celular -->
                  <div class="form-group with-icon-left">
                    <div class="input-group">
                      <input id="patient_cellphone"
                      name="patient_cellphone"
                      v-mask="'(##)#####-####'"
                      v-model="patient.cellphone"
                      required/>
                      <i class="fa fa-mobile icon-left input-icon"></i>
                      <label class="control-label" for="patient_cellphone">
                        {{'patient.cellphone'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- Local de Trabalho Paciente -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_street" v-model="patient.workplace"  required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.workplace'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- Cliente Captação -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_street" v-model="patient.patientComeFrom"  required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.patientComeFrom'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- Upload Imagem Cliente -->
                  <div class="form-group form-group-w-btn">
                    <div class="input-group">
                      <input id="input-w-btn" required="required">
                      <label for="input-w-btn" class="control-label">{{'patient.uploadPhoto'| translate}}</label>
                      <i class="bar"></i></div> <div class="btn btn-micro btn-primary"> UPLOAD </div>
                  </div>
                  <!--  -->
                </fieldset>
              </div>
              <!-- ************* -->

              <div class="col-md-4">
                <!-- Segunda coluna -->
                <fieldset>
                  <!-- Email Paciente -->
                  <div class="form-group with-icon-left">
                    <div class="input-group">
                      <input id="input-icon-left" name="input-icon-left"
                             required/>
                      <i class="fa fa-envelope-o icon-left input-icon"></i>
                      <label class="control-label" for="input-icon-left">
                        {{'patient.email'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!-- ************* -->
                  <!-- DATA NASCIMENTO  -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="simple-input"  v-mask="'##/##/####'" required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.birthDate'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!-- ************* -->
                  <!-- Orgao Expeditor / Estado -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="simple-input"
                            v-mask="'AAA/AA'"
                            required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.rgStateOrganization'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!-- *********  -->
                  <!-- Número -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_address_number"
                             required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.number'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- Cidade -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_address_city" v-model="patient.city" required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.city'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!-- Telefone Fixo -->
                  <div class="form-group with-icon-left">
                    <div class="input-group">
                      <input id="patient_cellphone"
                      name="patient_cellphone"
                      v-mask="'(##)####-####'"
                      v-model="patient.phone"
                      required/>
                      <i class="fa fa-phone icon-left input-icon"></i>
                      <label class="control-label" for="patient_cellphone">
                        {{'patient.phone'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!-- ***************** -->
                  <!-- Profissão  -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_street" v-model="patient.occupation"  required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.occupation'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- Plano de Saúde -->
                    <vuestic-simple-select
                    :label="'patient.healthCareProvider' | translate"
                    v-model="healthCareProviderPatient"
                    option-key="description"
                    v-bind:options="healthCareProviderOptions">
                  </vuestic-simple-select>
                  <!-- ************ -->

                  <!-- Observações cadastro -->
                  <div class="form-group">
                      <div class="input-group">
                            <textarea type="text" id="simple-textarea" v-model="patient.obsPatient" required></textarea>
                            <label class="control-label" for="simple-textarea">Observações Cadastro</label>
                            <i class="bar"></i>
                        </div>
                  </div>
                  <!--  -->
                 </fieldset>
              </div>
              <!-- ************* -->

              <!-- Terceira coluna -->
              <div class="col-md-4">
                <fieldset>
                  <!-- Sexo Paciente -->
                  <vuestic-simple-select
                    :label="'patient.gender' | translate"
                    v-model="genderPatient"
                    option-key="description"
                    v-bind:options="genderOptions">
                  </vuestic-simple-select>
                  <!-- ************* -->
                  <!-- CPF Paciente  -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="simple-input"
                      v-mask="['###.###.###-##', '##.###.###/####-##']"
                      required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.cpfPatient'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!-- ************* -->
                  <!-- CEP PACIENTE  -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_cep"
                      v-on:keyup="searchCEP"
                      v-model="patient.cep"
                      v-mask="'##.###-###'"
                      required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.cepPatient'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!-- ************ -->
                  <!-- Complemento -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_address_moreinfo" required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.moreInfo'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- ESTADO  -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_address_moreinfo" v-model="patient.state" required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.state'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- Telefone Comercial  -->
                  <div class="form-group with-icon-left">
                    <div class="input-group">
                      <input id="patient_cellphone"
                      name="patient_cellphone"
                      v-mask="'(##)####-####'"
                      v-model="patient.commercialPhone"
                      required/>
                      <i class="fa fa-phone icon-left input-icon"></i>
                      <label class="control-label" for="patient_cellphone">
                        {{'patient.commercialPhone'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- Grau instrução -->
                    <vuestic-simple-select
                    :label="'patient.levelEducation' | translate"
                    v-model="levelEducationPatient"
                    option-key="description"
                    v-bind:options="levelEducationOptions">
                  </vuestic-simple-select>
                  <!--  -->
                  <!-- Número Carterinha -->
                  <div class="form-group">
                    <div class="input-group">
                      <input id="patient_numberCard" v-model="patient.cardNumber" required/>
                      <label class="control-label" for="simple-input">
                        {{'patient.numberCard'| translate}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <!--  -->
                  <!-- Botões de Salvar -->
                  <div class="form-group">
                    <div class="input-group">
                      <button class="btn btn-primary"> Salvar </button>
                    </div>
                  </div>
                  <!--  -->
                </fieldset>
              </div>
             <!-- ************* -->
            </div>
          </form>
        </vuestic-widget>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    name: 'patients-add',
    data () {
      return {
        patient: {
          obsPatient: '',
          patientComeFrom: '',
          cardNumber: '',
          cep: '',
          rg: '',
          cpf: '',
          name: '',
          birthDate: '',
          email: '',
          street: '',
          neighborhood: '',
          city: '',
          state: '',
          cellphone: '',
          phone: '',
          commercialPhone: '',
          workplace: '',
          occupation: ''
        },
        genderPatient: '',
        martialStatusPatient: '',
        healthCareProviderPatient: '',
        levelEducationPatient: '',
        healthCareProviderOptions: [
          {
            id: 1,
            description: 'teste'
          }
        ],
        levelEducationOptions: [
          {
            id: 1,
            description: 'Analfabeto'
          },
          {
            id: 2,
            description: 'Ensino fundamental incompleto'
          },
          {
            id: 3,
            description: 'Ensino fundamental completo'
          },
          {
            id: 4,
            description: 'Ensino médio incompleto'
          },
          {
            id: 5,
            description: 'Ensino médio completo'
          },
          {
            id: 6,
            description: 'Superior completo'
          },
          {
            id: 7,
            description: 'Pós-Graduação'
          },
          {
            id: 8,
            description: 'Mestrado'
          },
          {
            id: 9,
            description: 'Doutorado'
          },
          {
            id: 10,
            description: 'Pós Doutorado'
          }
        ],
        martialOptions: [
          {
            id: 1,
            description: 'Solteiro'
          },
          {
            id: 2,
            description: 'Casado'
          },
          {
            id: 3,
            description: 'Viuvo(a)'
          },
          {
            id: 4,
            description: 'Divorciado(a)'
          },
          {
            id: 5,
            description: 'Separado(a)'
          }
        ],
        genderOptions: [
          {
            id: 1,
            description: 'Feminino',
          },
          {
            id: 2,
            description: 'Masculino',
          }
        ]
      }
    },
    methods: {
      async searchCEP () {
        try {
          if (this.patient.cep.length === 10) {
            let cepPaciente = this.patient.cep.replace('.', '')
            cepPaciente = cepPaciente.replace('-', '')
            const patientAddress = await axios.get(`https://api.postmon.com.br/v1/cep/${cepPaciente}`)
            this.patient.street = patientAddress.data.logradouro
            console.log(patientAddress)
            this.patient.neighborhood = patientAddress.data.bairro
            this.patient.city = patientAddress.data.cidade
            this.patient.state = patientAddress.data.estado
          }
        } catch (e) {
          this.errors.push(e)
        }
      },
    },
  }
</script>

<style scoped>

</style>